@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Playfair+Display&family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', serif;
}
body {
    
    height: 100vh;
    width: 100vw;
    background: url(https://cdn.pixabay.com/photo/2021/07/06/19/26/drops-6392473__340.jpg);
    background-size: cover;
}
header {
    height: 80px;
    background:  #011300;
    color: #fff;
    transition: all in 300ms ease-in-out;
}

header:hover{
    box-shadow: 0px 0px 15px 2px black;
}
.navigation {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    flex: 2 1 50px;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}
.menu{
    flex: 5;
    display: flex;
    justify-content: space-around;

}
ul.menu li{
    list-style: none;
    font-size: 18px;
    padding: 20px 10px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all in 300ms ease-in-out;
}
ul.menu li:hover{
    transform: scale(1.1);
    border-color: silver;
}
.search{
    flex: 3;
    display: flex;
    align-items: center;
    font-size: 10px;
}
.input{
    border-radius: 5px;
    background: transparent;
    border: 2px solid plum;
    padding: 8px 5px;
    outline: none;
    caret-color: #fff;
    
}

.input::placeholder{
    font-size: 15px;
    padding: 8px 5px;
    color: #fff;
    transition: all 300ms ease-in-out;

}

    

input[type]:focus::placeholder{
    font-size: 10px;
    color: black;
    transition: all in 300ms ease-in-out;
    
}
.btn{
    background:purple;
    outline: none;
    border:none;
    padding: 10px 20px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 17px;
    border-radius: 5px;
}
.btn :hover{
    background-color: green;
    transition: all 300ms ease-in-out;
}
.mobile-view{
    display: none;
}

@media screen and (max-width: 768px){
    .mobile-view{
        display: block;
        font-size: 34px;
        float: right;
    }
    header {
        height: 60px;
        width: 100%;
        background:  #011300;
        color: #fff;
        
    }
    .navigation {
        height: auto;
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
    }
    .logo{
    display: block;
        font-size: 15px;
        text-align: center;
        font-weight: 600;
    }
    .menu{
        display: flex;
    position: absolute;
        justify-content: space-between;
        width: 100%;
    
    }
    ul.menu li{
        list-style: none;
        font-size: 13px;
        padding: 20px 10px;
        text-transform: uppercase;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        transition: all in 300ms ease-in-out;
    }
    .search{
        
        display: none;
    }
    }

/*======== main ============= */
main {
    height: (calc(70vh - 80px));
}
.container{
   
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
color: #fff;
padding: 50px;
}
.left{
    flex: 7;
}
.right{
    flex: 3;
    
}
.left,
.right {
    padding: 40px;
    align-self: flex-start;
}
.wrapper{
    display: flex;
}


.text{
    flex: 4;
justify-content: center;
align-self: center;
margin-left: 30px;

}
.details{
    font-size: 16px;
}
.image{
    flex: 6;
}

.box{
    
    padding: 40px 20px;
    border: 2px solid transparent;
    background-color: #102e1059;
    border-radius: 12px;
    backdrop-filter: blur(5px);
}
.left .box{
    height: 500px;
    width: 900px;
}
.right .box{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*========== mobile =========*/
  @media screen and (max-width: 768px){

  }
    
  

.txt-medium{
    font-size: 20px;
}
.txt-bigger{
    font-size: 30px;
    font-weight: 600;
}
.form-login{
    width: 80%;
    padding: 10px 30px;

}
.form-login > *{
    margin-top: 10px;

}
.form-login .input{
    border:none;
    border-bottom: 2px solid darkslategray;
    width: 90%;
    font-size: 18px;
 }
 .btn-login{
    width: 90%;
    margin-top: 5px;
    margin-bottom: 10px;
    
 }
 .form-login input[type]:focus {
    width: 90%;
 }
 a{
    text-decoration: none;
    color: #10fc08;
    font-size: 20px;
    cursor: pointer;
    
 }
 a:hover{
    text-decoration: underline;
    
 }
 .register{
    text-align: center;
    justify-content: center;
 }
 .social{
    margin-top: 10px;
 }
 .social-media{
    height: 50px;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;

 }
 .social-media >*{
    margin-left: 10px;
 }
 .social-media i {
    height: 100%;
    filter: invert(1);
    transition: all 300ms ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
 }
.social-media i:hover{
filter: invert(0.8);
transform: scale(1.2);
}

.line{
    
    height: 3px;
    border-radius: 5px;
    border: none;
    background: purple;
    margin-bottom: 10px;

}




section{
    height: 40vh;
    margin: 0 20px;
    display: flex;
    position: relative;
}
.sectionBox{
padding: 40px 20px;
border-radius: 10px;
border: none;
background-color:  #102e1059;
width: 25%;
height: 30vh;
margin-left: 35px;



}
.title{
    text-align: center;
    font-size: 30px;
    color: #10fc08;;
    font-weight: 600;
}

.desc{
    margin: 15px;
    font-size: 15px;
    line-height: 1.5;
    justify-content: center;
    justify-items: center;
    color: #fff;
}
.bg-select{
    position: absolute;
    height: 20px;
    width: 100px;
    display: flex;

    top: 118vh;
    left: 48%;
    bottom: 5%;
}
.bg-option {
    height: 25px;
    width: 25px;
    margin-left: 15px;
}
.bg-a{
    background-color: yellow;
    
}
.bg-b{
    background-color: gray;
}
.footer{
    height: 80px;
    width: 100%;
    display: flex;
    background-color: #010800;
    font-family: 'Playfair Display', sans-serif;
}
.footerList{
    flex:5;
    list-style: none;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    
    
}
.footerList li{
    font-size: 15px;
    margin-left: 35px;
    cursor: pointer;

}
.socialFooter{
    flex: 5;
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
    justify-content: center;
    margin-right: 100px;
    
}
.socialFooter i{
    font-size: 17px;
    filter: invert(1);
    transition: all 300ms ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
    margin-left: 25px;
}

